In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df = pd.DataFrame(data={"x":[2.5,7.5,12.5,17.5,22.5,27.5,32.5,37.5,42.5,47.5],"A":[2,6,8,8,15,18,12,11,9,4],"b":[3,5,7,9,12,16,11,5,6,2]})

In [10]:
df['x2a'] = df['x']*df['A']*df['x']

In [11]:
df

      x   A   b     xa     xb       x2b       x2a
0   2.5   2   3    5.0    7.5     18.75     12.50
1   7.5   6   5   45.0   37.5    281.25    337.50
2  12.5   8   7  100.0   87.5   1093.75   1250.00
3  17.5   8   9  140.0  157.5   2756.25   2450.00
4  22.5  15  12  337.5  270.0   6075.00   7593.75
5  27.5  18  16  495.0  440.0  12100.00  13612.50
6  32.5  12  11  390.0  357.5  11618.75  12675.00
7  37.5  11   5  412.5  187.5   7031.25  15468.75
8  42.5   9   6  382.5  255.0  10837.50  16256.25
9  47.5   4   2  190.0   95.0   4512.50   9025.00

In [16]:
((sum(df['x2a'])/sum(df['A']))-(sum(df['xa'])/sum(df['A'])))**0.5

28.621322602683506

In [18]:
(sum(df['xb'])/sum(df['b']))

24.93421052631579

In [19]:
df = pd.DataFrame(data={"x":[2,2.5,3,3.5,4,4.5,5],"f":[3,34,50,80,65,30,8]})

In [51]:
df

     x   f         u         fu
0  2.0   3 -1.540741  -4.622222
1  2.5  34 -1.040741 -35.385185
2  3.0  50 -0.540741 -27.037037
3  3.5  80 -0.040741  -3.259259
4  4.0  65  0.459259  29.851852
5  4.5  30  0.959259  28.777778
6  5.0   8  1.459259  11.674074

In [47]:
xx = (sum(df['x']*df['f']))/sum(df['f'])

In [48]:
df['u'] = df['x']-xx

In [50]:
df['fu'] = df['f']*df['u']

In [52]:
sum(df['fu'])

-1.7763568394002505e-14